body {
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
    overflow: hidden;
}


.pixelify-sans-regular {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}