.gift-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 20px; /* Расстояние между боксами */
    align-items: center;
    width: 100%;
    max-width: 620px; /* Ширина самого широкого элемента */

}

.yellow-box {
    position: relative;
    width: 620px;
    height: 70px;
    background: #E7F1A8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.cloud {
    width: 70px;
    height: 70px;
}

.white-box  {
    position: relative;
    box-sizing: border-box; /* Чтобы padding не увеличивал размеры */
    display: flex; /* Добавляем flex для центрирования */

    justify-content: center; /* Вертикальное центрирование */
    align-items: center; /* Горизонтальное центрирование */

    width: 617px;
    height: 312px;

    background: #FFFDF5;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;


}

.help-box {
    /* Rectangle 16 */

    position: relative;
    width: 617px;
    height: 63px;

    background: #FFFDF5;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

}