
@keyframes jump {
    0%, 100% {
        transform: translateY(0) translateX(-50%); /* Исходное положение */
    }
    50% {
        transform: translateY(-20px) translateX(-50%); /* Прыжок вверх */
    }
}

.hello {

    position: relative;
    width: 100px;
    height: 100px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 2;
    left: 50%;
    bottom: calc(100% - 70%);
    transform: translateX(-50%);
    animation: jump 1s ease-in-out infinite;
}


.start-button {
    position: absolute;
    width: 300px;
    height: 61px;
    background: #FFFDF5;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border-color: #FFFDF5;

    z-index: 3;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);

    font-family: "Pixelify Sans", sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #155280;


    transition: all 0.3s ease;
}


.start-button:hover {
    transform: translate(-50%, -50%) scale(1.05);
}

.start-button:active {
    background: #155280; /* Новый цвет фона */
    color: #E7F1A8;
    font-weight: 550;
    box-shadow: 0 4px 4px #30AAC2;
    transform: translate(-50%, -50%) scale(0.98); /* Лёгкое сжатие */
}


