.audio-container {
  background: #62b9e6;
  padding: 20px;
  border-radius: 8px;
  margin: 10px 0;
  width: 470px;
  height: 50px;
}

audio {
  width: 100%;
  outline: none;
  filter: drop-shadow(0 0 5px #e7f1a8);
}

#meme-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.meme {
  margin-top: 0;
  position: relative;
  width: 400px;
  height: 200px;
  object-fit: contain;
  opacity: 0;
  transform: scale(0.5);
  transition: none;
  pointer-events: none;
  z-index: 10;
}

.meme.show {
  opacity: 1;
  transform: scale(1);
}
